# Python environments
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# YOLO & Model Training
runs/
*.pt
# Pengecualian: kita tetap mau commit best.pt kalau ada di backend/model
!backend/model/best.pt
!backend/model/.gitkeep
*.cache

# Datasets & Temporary Downloads
dataset/
roboflow_raw/
coco128/
*.zip

# OS & IDE
.DS_Store
.vscode/
.idea/
